/* style.css */

body {
    font-family: fantasy;
    background-color: #f7edc3;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#app, #question {
    text-align: center;
    width: 80%;
    max-width: 600px;
}


#first-page h1 {
    font-size: 3em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.44);
    text-align: center;
  }
  
h2 {
    font-size: 2.5em;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.44);
    text-align: center;
  }
  
.highlight {
    color: #6D870A; /* Green color for "CodeSprout!" */
    font-style: italic;
    font-weight: bold;
}

.container {
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }
  

.hidden {
    display: none;
}

#end-page {
    background-color: transparent; 
}
    
/* .gif-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}     */
